# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
zen

# Test binary, built with `go test -c`
*.test

# Code coverage profiles
*.out
coverage.*

# Go workspace file
go.work
go.work.sum

# env file
.env
